.item{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.time{
    font-size: 0.9rem;
    font-weight: bold;
}
.temp{
    font-size: 1.3rem;
    font-weight: bold;
}